body {background-color: #3fc267;
    background-image: url(../imagenes/fondo.jpg);
    background-repeat: repeat;
    background-attachment: fixed;}

@media (max-width: 500px) {
 body {background-image: url(../imagenes/fondocelu.jpg); }}


header  {display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: #1c9752;
        margin: 40px;
        padding: 20px;
        border-radius: 20px}

.titulo {color: white;
         text-decoration: underline;}

@media (max-width: 767px) {
  .logos { display:none; }}



.emp {border-radius: 15px}
.emp:hover {width: 250px}

main {text-align: center;
text-decoration: underline;
color: white;
background-color: #1c9752}

section {color: white;
font-size: 17px;
font-weight: bold;
border: 10px;
background-color: grey}

@media (min-width: 767px) {
  .empanada2 {display:none; }}

.empanada {width: 40vw}

@media (max-width: 767px) {
  .empanada {width:200px }}

footer  {display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        background-color: #1c9752;
        margin: 20px;
        border-radius:20px}

.info {font-size: 25px;}

@media (min-width: 992px) {
  .mapa {display: none;}}

@media (max-width: 767px) {
  .youtube {width:200px }}





.log  {background-color: white;
      padding: 10px;
      border-radius: 15px}

.logos {background-color: white;
      padding: 10px;
      border-radius: 15px}


.texto {font-size: 25px;
font-style: oblique;
background-color: #bf4646}

.desarrollador {font-size: 30px;
                color: white}

.links {display: flex;
       align-items: center;
       justify-content: space-around;}


.link1 {background-color: #1c9752;
        color: white;
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        transition: 2s;
        margin-left: 10px}

.link1:hover {background-color: #1b590b;
              transform: translateY(-3px);}


.link2 {background-color: #1c9752;
  color: white;
  padding: 15px 30px;
  border-radius: 50px;
  text-decoration: none;
  transition: 2s;
  margin-left: 10px}

.link2:hover {background-color: #1b590b;
              transform: translateY(-3px);}


.link3 {background-color: #1c9752;
        color: white;
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        transition: 2s;
        margin-left: 10px}

.link3:hover {background-color: #1b590b;
              transform: translateY(-3px);}


.link4 {background-color: #1c9752;
        color: white;
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        transition: 2s;
        margin-left: 10px}

.link4:hover {background-color: #1b590b;
              transform: translateY(-3px);}


.link5 {background-color: #1c9752;
        color: white;
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        transition: 2s;
        margin-left: 10px;}

.link5:hover {background-color: #1b590b;
              transform: translateY(-3px);}


.link6 {margin: 50%;
        background-color: #1c9752;
        color: white;
        padding: 15px 30px;
        border-radius: 50px;
        text-decoration: none;
        transition: 2s;
        margin-left: 10px;}

.link6:hover {background-color: #1b590b;
              transform: translateY(-3px);}
